
@import url('https://fonts.googleapis.com/css?family=Arimo');
body {
    width: 100%;
    height: 100vh;
    margin:0;
    background: url(../img/main_background_2.jpg) no-repeat center center fixed;
    background-size:  auto 150%;
    /* -moz-background-size: 100%; /* Firefox 3.6+ */
    /*-webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    /*-o-background-size: 100%; /* Opera 9.6+ */
 }

 /*   NAVIGATION   */
 #nav-main {
     position: relative;
     background: linear-gradient(to top, rgba(0,0,0,0.0), rgba(0,0,0,0.5));
     margin: 0px;
     padding: 0px;
 }
 .menu-main {
     list-style: none; /*убираем маркеры списка*/
     margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
     padding-left: 0; /*убираем левый отступ, равный 40px*/
 }
 .menu-main:after {
      content: "";
      display: table;
      clear: both;
 }
 .nav-item {
     float: right;
 }
 .menu-main a {
    text-decoration: none;
    display: block;
    line-height: 80px;
    padding: 0 30px;
    font-size: 20px;
    letter-spacing: 3px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: white;
    transition: .15s ease-out;
 }
 .menu-main a:hover {
     background: rgba(0,0,0,.3);
     border: 0.2px solid white;
     border-radius: 5px;
 }

 /*   MOBILE landscape   */
 @media (max-width: 830px) {
    .menu-main {
      padding-top: 90px;
      text-align: center;
    }
    .navbar-logo {
      position: absolute;
      left: 50%;
      top: 10px;
      transform: translateX(-50%);
    }
    .menu-main li {
      float: none;
      display: inline-block;
    }
    .menu-main a {
      line-height: normal;
      padding: 20px 15px;
      font-size: 16px;
    }
}

/*   MOBILE portrait   */
@media (max-width: 630px) {
    .menu-main li {display: block;}
    .nav-main {
        display: block;
        direction:rtl;
    }
}

 .header1 {
     font-size: calc(1.5rem + 80 * (100vw - 320px) / 880);
     letter-spacing: 2vw;
     font-family: 'Arimo', sans-serif;
     color: white;
     text-align: center;
     display: block;
 }

 .title-training {
     font-size: 230%;
     color: white;
     display: inline;
     text-align: center;
 }
